/* html */
body {
    line-height: 1;
    font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif !important;
    font-weight: bold;
}

div {
    display: block;
}

a {
    text-decoration: none; /* �h�W�s�����u */
}

p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3px;
    margin: auto;
    font-weight: bold;
}

/* id */
#header {
}

#layout {
    margin-top: 15px;
    /*    margin-right: 20%;
    margin-left: 20%;*/
    height: 120px;
}

#d_c1 {
    margin-top: 60px;
    width: 50%;
    float: left;
}

#d_c2 {
    margin-top: 60px;
    width: 50%;
    float: right;
}

#it01 {
    width: 220px;
    float: right;
}

#hp_menu {
    height: 54px;
    border-bottom: 5px solid #a70719;
    display: flex;
}

    #hp_menu > nav {
        margin: auto;
    }

#carousel {
    height: 720px;
    width: 100%;
}

#footer {
    height: 200px;
    background-color: #f7f7f7;
    background-image: url(https://www.sushiro.com.tw/Content/images/ring.svg);
    background-repeat: repeat;
    display: flex;
    align-items: center;
}

#foot_cont {
    margin: 0 auto;
}

#sub_menu_bg {
    padding: 50px 0 65px;
    background-color: #f7f7f7;
    margin: 0;
}

#sub_menu {
    width: 1140px;
    height: 192px;
    /*display: block;*/
    margin: 0 auto;
    text-align: center;
}

#sub_ad {
    padding: 50px 0 65px;
    background-color: #fff;
    width: 100%;
}

#statement {
    background-color: #a70719;
}

#cont_title {
    display: flex;
    align-items: center;
    height: 130px;
    background-color: #f7f7f7;
    width: 100%;
}

/* class */
.logo1, .logo2 {
    height: 15px;
    background-repeat: no-repeat;
    display: block;
}

.logo1 {
    /*            margin-left:8px;*/
    width: 150px;
    background-image: url(https://www.sushiro.com.tw/Content/images/slogin1.svg);
    margin-bottom: 10px;
}

.logo2 {
    width: 175px;
    background-image: url(https://www.sushiro.com.tw/Content/images/slogin2.svg);
}

.logo3 {
    position: absolute;
    left: 50%;
    margin: 0 0 0 -50px;
    bottom: 50px;
    height: 100px;
}

.foot_logo3 {
    margin-right: 15px;
    height: 100px;
    width: 100px;
}

.d_btn {
    background-color: #a70719;
    color: #ffffff;
    padding: 8px 13px 12px;
    border-radius: 50px;
    float: left;
    font-weight: bold;
}

.icon {
    margin-top: 4%;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}

    .icon > a > div, .foot_icon > a > img {
        margin-left: 20px;
        height: 20px;
        width: 20px;
    }

._img01 {
    background-image: url(https://www.sushiro.com.tw/Content/images/line.svg);
}

._img02 {
    background-image: url(https://www.sushiro.com.tw/Content/images/fb.svg);
}

._img03 {
    background-image: url(https://www.sushiro.com.tw/Content/images/ig.svg);
}

.collapse {
    display: flex;
}

.nav-link {
    font-size: 16px;
    color: #1a1311;
    margin: 0 15px;
    padding: 15px;
}

.navbar-nav {
    flex-direction: row;
    display: flex;
}

    /* ��ܲM�� */
    .navbar-nav li:hover > ul.dropdown-menu {
        display: block;
        border: none;
    }

.navbar {
    height: 100%;
}

.dropdown-submenu {
    position: relative;
}
/* �M���m */
.dropdown > .dropdown-menu {
    top: 100%;
    margin-top: -6px;
}

li > a {
    letter-spacing: 3px;
}

ul > li > a:hover:after {
    transform: rotate(-180deg);
    transition: 1s; /* ����ɶ� */
}

.nav-link::after {
    background-image: url(https://www.sushiro.com.tw/Content/images/arrow.svg);
}

.carousel_img {
    height: 720px;
    background: transparent no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.toggler-icon {
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(https://www.sushiro.com.tw/Content/images/list.svg);
}

.menu_btn {
    width: 132.857px;
    margin-right: 30px;
    text-align: center;
    line-height: 24px;
    letter-spacing: 3px;
}

.menu_btn_img {
    height: 40px;
    width: 40px;
    display: block;
    margin: 0 auto;
}

.manu_change {
    display: flex;
}

.m_btn {
    background-color: #a70719;
    color: #ffffff;
    padding: 8px 13px 12px;
    border-radius: 50px;
    border: 0;
}

.title01 {
    margin: 0 auto;
    margin-bottom: 40px;
    width: 55px;
    font-size: 26px;
    border-bottom: 2px solid #a70719;
    font-weight: bold;
}

.sub_ani {
    height: 468px;
    width: 1140px;
    margin: 0 auto;
}

.title02 {
    font-size: 26px;
    line-height: 24px;
    letter-spacing: 3px;
    margin-bottom: 40px;
    display: inline-block;
    padding: 0 0 5px;
    border-bottom: 4px solid #a70719;
    font-weight: bold;
}

.ani_img {
    margin: 5px 5px 0 5px;
    height: 250px;
    background-size: cover;
    background-position: center;
}

.ani_text {
    margin: 20px;
    height: 98px;
}

    .ani_text > p {
        margin: 10px 0;
        height: 48px;
    }

._ {
    height: 4px;
    background-color: #a70719;
    border-radius: 5px;
    margin-top: 5px;
    width: 60px;
}

._02 {
    height: 4px;
    background-color: #a70719;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
    width: 60px;
}

.r_btn {
    float: right;
    font-weight: bold;
}

.ani01 {
    margin-right: 40px;
    border: 1px solid #e1e1e1;
    background-color: #f7f7f7;
    width: 353.333px;
}

._sup {
    color: #4e2901;
}

.sub_ani_ad {
    display: flex; /* ����ؤ�����ñ� */
}

.foot_logo {
    display: flex;
    align-items: center;
}

.foot_logo4 {
    font-size: 14px;
    letter-spacing: 1px;
    border: 1px solid #1a1311;
    padding: 10px 15px;
    color: #1a1311;
}

.foot_icon {
    display: flex;
    justify-content: space-between;
    flex: 0 0 100px;
}

.foot_menu_logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.foot_menu_txt {
    text-align: right;
    line-height: 30px;
    margin-top: 15px;
}

    .foot_menu_txt > a {
        margin-right: 15px;
        color: #1a1311;
        font-size: 16px;
    }

.s_con {
    background-color: #a70719;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin: 0 auto;
}

    .s_con > p {
        font-size: 12px;
        letter-spacing: 0;
        margin: auto 0 auto 0;
    }

.s_con_right > a {
    color: #fff;
    font-size: 16px;
}

.scr_left {
    border-right: 1px solid #ffffff;
    margin: 0 5px 0 10px;
}

.container > h1 {
    letter-spacing: 3px;
    font-size: 26px;
    line-height: 30px;
    font-weight: bold;
}

.cont_frame {
    padding: 50px 0 65px;
}

.big_logo01 {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

    .big_logo01 > img {
        margin-right: 10px;
        float: left;
        width: 290px;
    }

.bg01 {
    background-color: #f7f7f7;
}

.box {
    display: flex;
}

    .box:nth-child(2n+1) {
        flex-direction: row-reverse;
    }

.box_img {
    width: 100%;
    height: 370px;
    background-size: cover;
    background-position: center;
}

.box_font {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #f7f7f7;
    width: 100%;
    padding: 30px 0;
}

.box_font_box {
    width: calc(100% - 80px); /* 設置文字框距 */
}

.box_title {
    letter-spacing: 3px;
    display: inline-block;
    padding: 0 0 5px;
    border-bottom: 4px solid #a70719;
    font-size: 20px;
    margin-bottom: 30px;
}

.cont_fluid {
    padding: 0;
    margin: 0;
}

.order_con_frame {
    width: 100%;
    height: 300px;
    background-color: #a70719;
    background-image: url(https://www.sushiro.com.tw/Content/images/ring.svg);
    background-repeat: repeat;
    display: flex;
    align-items: center;
    color: #fff;
}

.order_box {
    display: flex;
    width: 100%;
}

.order_frame {
    width: 100%;
    height: 205px;
    background-image: url(https://www.sushiro.com.tw/Content/images/cloth.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #BF9A59;
    /*    padding: 0;*/
}

.order_box .order_category {
    width: 100%;
    margin: 10px 24px;
}

.narrative_box {
    height: 190px;
}

.remarks {
    font-size: 26px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order_box .order_category .narrative_box img {
    display: block;
    height: 105px;
    width: 100%;
    margin: 0 auto;
}

.order_box .order_category .narrative_box span {
    display: block;
    color: #1a1311;
    font-size: 14px;
    margin-top: 5px;
    line-height: 20px;
}

.narrative_box > p {
    margin-bottom: 5px;
}

.background_color_gray {
    background-color: #f7f7f7;
}

.order_tablet_frame {
    padding: 50px 0 65px;
}

.order_tablet_box > p {
    margin-bottom: 15px
}


.inner_border_style_order {
    display: inline-flex;
    width: calc(100% / 4 - 3px);
    margin-bottom: 15px;
}

.inner_border_frame {
    height: 350px;
    width: 100%;
    border: 1px solid #e1e1e1;
    background-color: #f7f7f7;
}

.inner_border_box {
    /*    overflow: hidden;*/
    margin: 5px;
}

.hover_img {
    display: block;
    height: 250px;
    background-size: cover;
    background-position: center;
}

.hover_img {
    height: 170px !important;
}

.inner_border_box_font {
    margin: 20px;
}

.inner_border_box_font_content {
    color: #a98e70;
    height: auto !important;
    margin: 10px 0 5px !important;
}

.inner_border_box_font > span {
    font-size: 14px;
    color: #1a1311;
}

.about p {
    margin-bottom: 15px;
}

.necessary {
    color: #a70719;
}

.discount_font {
    width: 100%;
}

.discount_x > th {
    text-align: center;
    border: 1px solid #1a1311;
    line-height: 24px;
    background-color: #ffffff;
    vertical-align: middle;
}

.discount_font td {
    text-align: left;
    padding-left: 5px;
    border: 1px solid #1a1311;
    line-height: 24px;
    background-color: #ffffff;
    vertical-align: middle;
}

.qa_box {
    height: 308px;
    background-size: cover;
    background-position: center;
    border: 1px solid #1a1311;
    border-right: 0;
}

.qa_frame .col-md-4 {
    padding-right: 0px;
}

.qa_frame .col-md-8 {
    padding-left: 0px;
}

.qa_font {
    width: 100%;
}

    .qa_font th, .qa_font td {
        text-align: center;
        padding: 15px 10px;
        border: 1px solid #1a1311;
        line-height: 24px;
        background-color: #ffffff;
        vertical-align: middle;
    }

.reset_narrate {
    font-size: 26px;
}

.swiper-recruiting-img {
    overflow: hidden;
}

    .swiper-recruiting-img .recruiting_box {
        overflow: hidden;
        margin: 60px 0 20px;
    }

        .swiper-recruiting-img .recruiting_box .recruiting_img {
            display: block;
            height: 250px;
            background-size: cover;
            background-position: center;
        }

.recruitment_bt {
    margin: 0 10px;
    border-radius: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 26px;
    width: inherit;
    height: 70px;
    margin-top: 25px;
    padding: 0 20px !important;
    line-height: 30px;
}

.promotion_frame {
    display: inline-block;
}

    .promotion_frame .promotion_box {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 0 25px 15px 0;
    }

    .promotion_frame .bg_r {
        background-color: rgba(167, 7, 25, 0.8);
    }

        .promotion_frame .bg_r p {
            text-align: center;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #a70719;
        }

    .promotion_frame .bg_g {
        background-color: rgba(180, 180, 180, 0.8);
    }

        .promotion_frame .bg_g p {
            text-align: center;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #b4b4b4;
        }

    .promotion_frame .bg_c {
        background-color: rgba(169, 142, 112, 0.8);
    }

        .promotion_frame .bg_c p {
            text-align: center;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #a98e70;
        }


    .promotion_frame .promotion_box_last {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 0 25px 15px 0;
    }

    /* 箭頭 */
    .promotion_frame .promotion_box::before {
        content: '';
        border-style: solid;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent #1a1311;
        position: absolute;
        right: -20px;
    }

.inner_border_frame_noimg {
    padding: 5px;
    width: 100%;
    border: 1px solid #e1e1e1;
    background-color: #f7f7f7;
    margin: 0 0 20px;
}

    .inner_border_frame_noimg .inner_border_frame_noimg_title {
        background-color: #a70719;
        color: #ffffff;
        padding: 22px 20px;
        line-height: 24px;
    }

    .inner_border_frame_noimg .inner_border_frame_noimg_font {
        padding: 20px;
    }

    .inner_border_frame_noimg .gb_dark {
        background-color: #1a1311;
    }

.recruitment_frame {
    position: relative;
}

    .recruitment_frame > img {
        margin-bottom: 25px;
    }

.img_fluid {
    max-width: 100%;
    height: auto;
}

.recruitment_frame .raise_title {
    font-family: 'Shippori Mincho', serif;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 45px;
    line-height: 50px;
    text-shadow: 2px 2px 5px #ffffff;
}

.recruitment_frame .recruitment_box {
    margin: 25px 0;
}

    .recruitment_frame .recruitment_box .raise_shop_title_box {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
    }

        .recruitment_frame .recruitment_box .raise_shop_title_box p {
            margin-left: 15px;
        }

    .recruitment_frame .recruitment_box img {
        width: 60px;
    }

    .recruitment_frame .recruitment_box .raise_shop_title_box .raise_shop_title {
        font-family: 'Shippori Mincho', serif;
        font-size: 26px;
        /*    text-shadow: none;*/
        position: relative;
    }

.recruitment_frame .recruitment_box_img {
    height: 370px;
    background-size: cover;
    background-position: center;
}

.recruitment_frame .columnar {
    margin: 0 0 5px;
}

    .recruitment_frame .columnar .columnar_title {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 65px;
        background-color: #a70719;
        color: #ffffff;
    }

    .recruitment_frame .columnar .columnar_content {
        display: flex;
        align-items: center;
        height: 65px;
        background-color: #f7f7f7;
        line-height: 20px;
    }

.background_gray {
    background-color: #f7f7f7;
    background-image: url(https://www.sushiro.com.tw/content/images/service-bg.svg);
    background-repeat: repeat;
    background-size: 343px 243px;
    background-attachment: fixed;
}

.service-frame {
    background-color: #f7f7f7;
    background-image: url(../images/service-bg.svg);
    background-repeat: repeat;
    background-size: 343px 243px;
    background-attachment: fixed;
}

.service-box {
    padding: 10px;
    display: flex;
    align-items: center;
}

.content-service {
    height: 300px;
    margin-bottom: 40px;
    overflow: hidden;
}

.color-main-bg {
    background-color: #a70719;
}

.service-container {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.service-font h3 {
    font-weight: 100;
    font-size: 27px;
    line-height: 35px;
    letter-spacing: 0;
    color: #ffffff;
}

    .service-font h3 span {
        font-size: 25px;
        display: block;
    }

.service-font .app-img {
    /* margin-top: 10px; */
}

    .service-font .app-img img {
        height: 33px;
        margin-bottom: 5px;
    }

.take-out-frame {
    border: 8px solid #a70719;
    background-color: #F8F7F2;
    position: relative;
}

.hover-color {
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(167, 7, 25, 0.8);
    z-index: 999;
    left: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

    .hover-color p {
        font-size: 20px;
        color: #ffffff;
        border-bottom: 4px solid #fff;
        margin: 0 auto;
    }

.delivery-box {
    margin: 0 auto;
}

    .delivery-box .service-font {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        .delivery-box .service-font img {
            width: 65px;
            margin-right: 5px;
        }

    .delivery-box h3 {
        color: #1a1311;
        margin-bottom: 5px;
    }

.service-font h3 span {
    font-size: 25px;
    display: block;
}

.delivery-box span {
    color: #a70719;
}

.delivery-box p {
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3px;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    background-color: #a70719;
    color: #ffffff;
    padding: 8px 13px 12px;
    border-radius: 50px;
    border: 0;
    width: 110px;
    padding: 5px;
    margin: 0 auto;
}

.font-spacing-0 {
    letter-spacing: 0 !important;
}

.hover-color:hover {
    opacity: 1;
}

.delivery-frame {
    border: 8px solid #a70719;
    background-color: #F8F7F2;
    position: relative;
    border: 0;
}

    .delivery-frame::before {
        width: 100%;
        height: 30px;
        background-color: #a70719;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
    }

    .delivery-frame::after {
        width: 100%;
        height: 30px;
        background-color: #a70719;
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
    }

.shop_frame {
    display: flex;
    align-items: center;
    width: 100%;
    height: 260px;
    background-color: #1a1311;
    background-image: url(https://www.sushiro.com.tw/content/images/ring.svg);
    background-repeat: repeat;
    padding: 15px;
}

    .shop_frame .shop_title {
        font-weight: 100;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 3px;
        color: #ffffff;
        text-align: center;
    }

.content-title .icon01 {
    width: 15px;
    margin-right: 5px;
    float: left;
    display: flex;
    justify-content: space-between
}

.form_control {
    display: block;
    width: 100%;
    height: 65px;
    padding: .375rem .75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

.shop_frame .main_button {
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    background-color: #a70719;
    color: #ffffff;
    height: 65px;
    border: 0;
    border-radius: 5px;
    width: 100%;
}

.shop_list .inner-border-style {
    padding: 0;
    overflow: hidden;
    display: inline-flex;
    margin-bottom: 15px;
    position: relative;
    width: calc(100% / 3 - 23px);
    margin-right: 20px;
    margin-bottom: 20px;
}

    .shop_list .inner-border-style .inner-border-frame {
        width: 100%;
        border: 1px solid #e1e1e1;
        background-color: #f7f7f7;
    }

        .shop_list .inner-border-style .inner-border-frame a {
            transition: all 0.3s;
            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            color: #4e2901;
        }

        .shop_list .inner-border-style .inner-border-frame .inner-border-box {
            overflow: hidden;
            margin: 5px;
        }

            .shop_list .inner-border-style .inner-border-frame .inner-border-box .hover-img {
                transition: all 0.3s;
                -moz-transition: all 0.3s;
                -webkit-transition: all 0.3s;
                -o-transition: all 0.3s;
                display: block;
                height: 250px;
                background-size: cover;
                background-position: center;
            }

        .shop_list .inner-border-style .inner-border-frame .inner-border-box-font {
            margin: 20px;
        }

            .shop_list .inner-border-style .inner-border-frame .inner-border-box-font h3 {
                font-size: 20px;
                margin-bottom: 5px;
            }

    .shop_list .inner-border-style p {
        color: #a98e70;
    }

    .shop_list .inner-border-style .inner-border-frame .inner-border-box-font .inner-border-box-font-content {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 3px;
        margin: 10px 0;
        height: auto;
    }

.delivery-bt {
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    border-radius: 50px;
    right: 120px;
    bottom: 21px;
    position: absolute;
    background-color: #f7f7f7;
    border: 1px solid #1a1311;
    color: #1a1311;
    padding: 8px 13px 10px;
}

    .delivery-bt img {
        width: 15px;
        margin-right: 5px;
    }

.hover-box {
    height: 300px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .hover-box .hover-box-bg-img {
        width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

.hover-frame > .social-frame {
    height: 150px;
    background-color: #f7f7f7;
    border: 1px solid #e1e1e1;
    margin-bottom: 15px;
}

.social-frame .social-box {
    color: #1a1311;
    font-weight: 100;
    font-size: 26px;
    line-height: 24px;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    width: 150px;
}

    .social-frame .social-box span {
        display: block;
        font-size: 16px;
        color: #a70719;
    }

.social-frame .fb::after {
    width: 30px;
    height: 30px;
    content: '';
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    right: 5px;
    background-image: url(https://www.sushiro.com.tw/Content/images/fb-triangle.svg);
}

.hover-color .four-font {
    width: 80px;
}

.title-border {
    height: 4px;
    background-color: #a70719;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
}

.hover-color p.title03 {
    border-bottom: none;
}

.hover-color .title-border {
    background-color: #ffffff;
}

.social-frame .ig::after {
    width: 30px;
    height: 30px;
    content: '';
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    right: 5px;
    background-image: url(https://www.sushiro.com.tw/Content/images/ig-triangle.svg);
}

.social-frame .line::after {
    width: 30px;
    height: 30px;
    content: '';
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    right: 5px;
    background-image: url(https://www.sushiro.com.tw/Content/images/line-triangle.svg);
}

.social-frame img {
    margin-right: 30px;
}

.aos-animate {
    opacity: 1;
    transform: translateZ(0);
}

.raise-frame::after {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.raise-frame::after {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.title-border {
    height: 4px;
    background-color: #a70719;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
}

.raise-frame .raise-box .row {
    width: 1000px;
    margin: 0 auto;
}

.raise-frame .raise-box .raise-red {
    height: 230px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #a70719;
    background-image: url(../images/ring.svg);
    background-repeat: repeat;
}

.col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.hover-box {
    height: 300px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.raise-frame {
    background-image: url(https://www.sushiro.com.tw/Content/images/raise.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}

    .raise-frame .raise-box .raise-banner-height {
        height: 230px;
        margin-bottom: 15px;
    }

    .raise-frame .raise-box .raise-square-1::before, .raise-frame .raise-box .raise-square-1::after,
    .raise-frame .raise-box .raise-square-2::before, .raise-frame .raise-box .raise-square-2::after {
        width: 10px;
        height: 10px;
        background-color: #DDC3A5;
        position: absolute;
        z-index: 2;
        content: '';
    }

    .raise-frame .raise-box .raise-square-1::before {
        bottom: 6px;
        left: 8px;
    }

    .raise-frame .raise-box .raise-square-1::after {
        left: 8px;
        top: 6px;
    }

    .raise-frame .raise-box .raise-square-2::before {
        bottom: 6px;
        right: 8px;
    }

    .raise-frame .raise-box .raise-square-2::after {
        right: 8px;
        top: 6px;
    }

    .raise-frame .raise-box .raise-red {
        height: 230px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: #a70719;
        background-image: url(https://www.sushiro.com.tw/Content/images/ring.svg);
        background-repeat: repeat;
    }

        .raise-frame .raise-box .raise-red::before {
            width: calc(100% - 35px);
            height: calc(100% - 30px);
            content: '';
            border: 1px solid #DDC3A5;
            position: absolute;
        }

    .raise-frame .raise-box .raise-font {
        font-weight: 100;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 3px;
        position: absolute;
        color: #ffffff;
    }

        .raise-frame .raise-box .raise-font p {
            font-size: 50px;
        }

    .raise-frame .raise-box .raise-red::after {
        width: calc(100% - 15px);
        height: calc(100% - 12px);
        content: '';
        border: 3px solid #DDC3A5;
        position: absolute;
    }

    .raise-frame .raise-box .raise-blue {
        height: 230px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: #002350;
        background-image: url(https://www.sushiro.com.tw/Content/images/raise2.svg);
        background-repeat: repeat;
    }

        .raise-frame .raise-box .raise-blue::before {
            width: calc(100% - 35px);
            height: calc(100% - 30px);
            content: '';
            border: 1px solid #DDC3A5;
            position: absolute;
        }

        .raise-frame .raise-box .raise-blue::after {
            width: calc(100% - 15px);
            height: calc(100% - 12px);
            content: '';
            border: 3px solid #DDC3A5;
            position: absolute;
        }

.justify-center {
    justify-content: center;
}

/* QA*/
.QA-inner-content-title {
    font-weight: 100;
    font-size: 26px;
    line-height: 24px;
    letter-spacing: 3px;
    margin-bottom: 40px;
    display: inline-block;
    padding: 0 0 5px;
    border-bottom: 4px solid #a70719;
    font-weight: bold;
    margin-right: auto;
}

.QA-content-frame {
    padding: 50px 0 65px;
}

.QA-container {
    width: 100%;
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.QA-h2 {
    font-weight: bold;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: 0;
}

.QA-inner-border-frame-noimg {
    font-weight: bold;
    padding: 5px 5px 10px 5px;
    width: 100%;
    border: 1px solid #e1e1e1;
    background-color: #f7f7f7;
    margin: 0 0 20px;
}

    .QA-inner-border-frame-noimg .QA-inner-border-frame-noimg-title {
        font-weight: bold;
        background-color: #a70719;
        color: #ffffff;
        padding: 22px 20px;
        line-height: 24px;
    }

    .QA-inner-border-frame-noimg .QA-inner-border-frame-noimg-font {
        font-weight: bold;
        padding: 20px;
        font-size: 18px;
    }

/* Menu*/
.title-frame-content {
    display: flex;
    align-items: center;
    height: 130px;
    background-color: #f7f7f7;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.inner-menu {
    position: sticky;
    top: 0;
    background: #ffffff;
    padding: 15px 0;
    z-index: 9;
    border-bottom: 2px solid #f7f7f7;
    box-shadow: 0 2px 5px #f7f7f7;
    margin: 0;
}

.menu-content-frame {
    padding: 50px 0 65px;
}

.swiper-index-menu {
    overflow: hidden;
    padding: 0 0 20px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.swiper-container-pointer-events {
    touch-action: pan-y;
}

.swiper {
    width: 100%;
    height: 100%;
    display: flex;
}

.swiper-index-menu .swiper-slide span {
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    background-color: #a70719;
    color: #ffffff;
    padding: 8px 13px 12px;
    border-radius: 50px;
    border: 0;
}


.swiper-index-menu .swiper-slide {
    font-weight: inherit;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3px;
    text-align: center;
}

    .swiper-index-menu .swiper-slide img {
        width: 40px;
        height: 40px;
        display: block;
        margin: 0 auto 15px;
    }

.menu-section {
    display: block;
}

.background-menu-title {
    background-color: #f7f7f7;
    background-image: url("../images/icon/service-bg.svg");
    background-repeat: repeat;
    background-size: 343px 243px;
    background-attachment: fixed;
    margin: 0 0 50px;
}

    .background-menu-title h2 {
        font-weight: 100;
        font-size: 26px;
        line-height: 24px;
        letter-spacing: 3px;
        margin-bottom: 40px;
        display: inline-block;
        padding: 0 0 5px;
        border-bottom: 4px solid #a70719;
        margin-bottom: 0;
        border: 0;
        display: flex;
        align-items: center;
        height: 120px;
        letter-spacing: 0;
    }

.font-16 {
    font-size: 16px;
}

.iconimg {
    height: 40px;
    width: 40px;
}

.inner-content-title {
    font-weight: 100;
    font-size: 26px;
    line-height: 24px;
    letter-spacing: 3px;
    margin-bottom: 40px;
    display: inline-block;
    padding: 0 0 5px;
    border-bottom: 4px solid #a70719;
}

.sushi-box {
    text-align: center;
    display: inline-block;
    width: calc(100% / 4 - 3px);
    margin-bottom: 50px;
}

    .sushi-box .sushi {
        position: relative;
        width: 200px;
        height: 200px;
        background-color: #f7f7f7;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
    }

        .sushi-box .sushi img {
            width: 100%;
        }

        .sushi-box .sushi .limited {
            position: absolute;
            bottom: 0;
            right: -20px;
            width: 70px;
        }



.sushi-frame .sushi-box .sushi-name, .sushi-frame .sushi-box .sushi-price {
    font-size: 20px;
}

.w12 {
    width: 1140px;
}

/* ContactUs*/
.contact-frame {
    padding: 30px 30px 50px;
}

.background-color-gray {
    background-color: #f7f7f7;
}

.red-star {
    color: #a70719;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 30px;
    align-items: center;
}

.col-label {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-sm-2, .col-sm-4 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.form-check-inline {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    margin-right: 0.75rem;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.textarea {
    overflow: auto;
    resize: vertical;
    height: 230px !important;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.button-normal {
    width: 125px;
    height: 45px;
    margin: 0 10px;
    border-radius: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 !important;
}

.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.button-change-color {
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    background-color: #a70719;
    color: #ffffff;
    padding: 8px 13px 12px;
    border-radius: 50px;
    border: 0;
}

/* login*/
.login-container {
    min-height: 300px;
    display: block;
    padding-top: 100px;
}

.login-div {
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.login-height {
    height: 750px;
}

/*********************************************************************************************************/
/* media */
@media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    .d01 {
        height: auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .d01 {
        height: 380px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .d01 {
        height: 370px;
    }
}


@media screen and (min-width: 1200px) {
    #foot_cont, .s_con {
        width: 1140px;
    }

    .container {
        max-width: 1140px;
    }
}

@media (max-width: 1199px) {
    p {
        letter-spacing: 0;
    }
}


@media (max-width: 991px) {

    .justify-center {
        justify-content: left;
    }

    .sushi-box .sushi {
        width: 150px;
        height: 150px;
        background-size: cover;
        padding: 5px;
    }

    .recruitment_frame .recruitment_box_img {
        height: 245px;
    }

    .logo3 {
        position: inherit;
        height: 50px;
        margin: 0;
    }

    .navbar-nav {
        flex-direction: column;
    }

    #footer .foot_logo {
        justify-content: space-between;
        margin-bottom: 15px;
    }

    #footer {
        height: 280px;
    }

    .foot_logo3 {
        height: 50px;
        width: 50px;
    }
}

@media (max-width: 767px) {
    .sushi-box {
        width: calc(100% / 2 - 3px);
    }

    .recruitment_frame .raise_title {
        font-size: 16px;
        line-height: 24px;
        top: 5px;
        left: 10px;
    }

    #d_c1 .logo1, #d_c1 .logo2 {
        opacity: 0;
    }

    ._img01 {
        background-image: url(https://www.sushiro.com.tw/Content/images/line-w.svg);
    }

    ._img02 {
        background-image: url(https://www.sushiro.com.tw/Content/images/fb-w.svg);
    }

    ._img03 {
        background-image: url(https://www.sushiro.com.tw/Content/images/ig-w.svg);
    }

    #layout {
        margin-top: 0;
    }

    .bg_block {
        background-color: #1a1311;
    }

    .s_con {
        height: 70px;
        flex-direction: column;
        justify-content: inherit;
    }

        .s_con > p {
            margin: auto;
        }

    .form_control {
        margin-bottom: 10px;
    }

    .shop_frame {
        height: 280px;
    }

    .form_control {
        height: 40px;
    }

    .shop_frame .main_button {
        height: 40px;
    }
}

@media (min-width: 576px) {
    .col-sm-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-sm-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-sm-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}



/* back to top */
.back-to-top {
    position: fixed;
    bottom: 5px;
    right: 12px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #a70719;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

@media (max-width: 480px) {
    .back-to-top {
        bottom: 75px;
    }
}

.back-to-top:hover, .d_btn:hover {
    background-color: #1a1311;
    color: #ffffff;
}

.back-to-top::after {
    content: '';
    width: 25px;
    height: 25px;
    top: 8px;
    background-image: url(https://www.sushiro.com.tw/Content/images/arrow-to-top.svg);
    background-repeat: no-repeat;
    position: absolute;
}

.back-to-top span {
    bottom: 10px;
    position: absolute;
}
